.App {
  text-align: center;
}
.idCard {
  border: 1px solid black;
  align-items: center;
  padding-left: 5px;

  display: flex;
  margin: 5px;
}
.greetings {
  text-align: left;
  border: 1px solid black;
  margin: 5px;
  padding-left: 10px;
}
.boxColor {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}
.bandeira {
  width: 40px;
  display: flex;
}
.cartaoCredito {
  background-color: bisque;
  display: flex;
  width: 230px;
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 10px;
}
.cartaoNumero {
  text-align: center;
}
.cartaoDados {
  font-size: 12px;
  text-align: left;
}
.divBandeira {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.foto {
  width: 85px;
  height: 85px;
  border-radius: 100%;
}
.drivecar {
  display: flex;
  align-items: center;
  background-color: rgb(19, 88, 141);
  margin: 20px 20px;
  height: 120px;
  border-radius: 7px;
  justify-content: center;
}
.driverData {
  color: white;
  text-align: left;
  margin: 1px 1px;
}
.cartoesDeCredito {
  display: flex;
}
.button {
  padding: 5px 50px;
  font-size: larger;
}
